a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: underline !important;
}

.bg {
  background-image: url("business-img/1.png") !important;
  background-position: center !important;
}

nav a {
  color: white !important;
}

nav a:hover {
  text-decoration: none !important;
  color: tomato !important;
}

.dropdown-menu a {
  color: black !important;
}

.dropdown-item a:hover {
  text-decoration: none !important;
}
